
/* ======= general ======= */
body {
  font-family:"Ariel", sans-serif;
}
.logo {
  width: 83.33%;
}

/* ======= rows & columns ======= */
.row, .column {
  box-sizing: border-box;
}
.row {
  overflow: auto;
  /*border: 1px solid rebeccapurple;*/
}
.column {
  float: left;
  text-align: center;
  /*border: 1px solid Tomato;*/
}
.column:before {
  /*content: "\00a0";*/
}

/* ======= columns ======= */
.column-1 { width: 8.333%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }

/* ======= rows ======= */
.header > .column {
    height: auto;
}
.content > .column {
  height: auto;
}
.info > .column {
  height: 40px;
}
.footer > .column {
  height: 100px;
}

/* ======= content ======= */
h1 {
    color: rebeccapurple;
}
.intro {
    display: -webkit-box || -webkit-inline-box;
    display: -moz-box || -moz-inline-box;
    display: -ms-flexbox || -ms-inline-flexbox;
    display: -webkit-flex || -webkit-inline-flex;
    display: inline-flex;
    display: flex;
    flex-direction: -webkit-column;
    justify-content: -webkit-center;
    align-items: -webkit-center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.title {
    text-align: center;
}
.section {
    margin: 0 20px 10px 20px;
    background-color: #ffe6cc;
}
.sectionTitle {
    margin: 20px 20px 0 20px;
    padding: 2px;
    text-align: center;
    background-color: #DAA520;
}
.introText {
    text-align: left;
    padding: 0 140px;
}
.hilite {
    color: #ff6600;
}

/* ======= charts ======= */
#chartDiv div {
    background-color: steelblue;
}

#chartManual rect {
    fill: steelblue;
}
#chartManual text {
    fill: red;
    font: 10px sans-serif;
    text-anchor: end;
}
#chartManual, #chartDiv, #chartSvg, #chartRemote, #chartHorizontal, #scatterPlot, #lineGraph2 {
    margin: 0 20px 10px 20px;
    padding: 10px;
    border: 1px solid rebeccapurple;
}
g.hover {
    background-color: rgba(0, 0, 0, .5);
}
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family:"Ariel", sans-serif;
    font-size: 13px;
}

/*.skillBars {

}*/
